.fondo-verde {
  background-color: rgba(0, 128, 0, 0.404);
  width: 75px;
  height: 25px;
  margin-left: -5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.fondo-rojo {
  background-color: rgba(255, 0, 0, 0.377);
  width: 75px;
  height: 25px;
  margin-left: -5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
