<div class="container-fluid py-4">
  <div class="row justify-content-between mb-3">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Usuarios</h1>
    </div>
    <div class="col-md-6 text-end">
      <a href="/createUsers" class="btn btn-primary">Crear Usuario</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr >
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Estado</th>
                  <th>Rol</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Aquí se mostrarán los usuarios -->
                <tr *ngFor=" let user of users.data">
                  <td>{{user.name}}</td>
                  <td>{{user.lastname}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.status}}</td>
                  <td>{{user.Role.name}}</td>
                  <td>
                    <div class="d-flex">
                      <button class="btn btn-primary btn-sm me-2" (click)="update(user.id)">Editar</button>
                      <button class="btn btn-danger btn-sm" (click)="delete(user.id)">Eliminar</button>
                    </div>
                  </td>
                </tr>
                <!-- Otros usuarios -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
