<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="max-height: 400px!important;">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center mb-0">
            <i class="bi bi-person"></i> Crear Cliente
          </h2>
        </div>
        <div class="card-body" style="max-height: 400px; overflow-y: auto;">
          <form [formGroup]="form">
            <h4>Datos del cliente</h4>
            <div class="mb-3" [ngClass]="{ 'has-error': invalidName }">
              <label for="name" class="form-label">Nombre:</label>
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Ingrese el nombre del cliente">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Ingrese el correo electrónico del cliente">
            </div>
            <div class="mb-3" [ngClass]="{ 'has-error': form.get('dui')?.errors?.['formatoInvalido'] }">
              <label for="dui" class="form-label">DUI:</label>
              <input type="text" formControlName="dui" class="form-control" id="dui" placeholder="Ingrese el DUI del cliente" (keydown)="onDuiKeyDown($event)">
              <div *ngIf="form.get('dui')?.errors?.['formatoInvalido']" class="text-danger">
                {{errorOnDui}}
              </div>
            </div>
            <div class="mb-3" [ngClass]="{ 'has-error': form.get('cellphone')?.errors?.['formatoInvalido'] }">
              <label for="phone" class="form-label">Teléfono:</label>
              <input type="text" formControlName="cellphone" class="form-control" id="phone" placeholder="Ingrese el teléfono del cliente" (keydown)="onCellphoneKeyDown($event)">
              <div *ngIf="form.get('dui')?.errors?.['formatoInvalido']" class="text-danger">
                {{errorOnCellphone}}
              </div>
            </div>
            <div class="mb-3" [ngClass]="{ 'select-error': invalidAmountId }">
              <label for="phone" class="form-label">Cuotas a cancelar:</label>
              <select class="form-control" id="amountId" formControlName="amountId" (change)="addToAmounts()">
                  <option value="">Seleccione...</option>
                  <option *ngFor="let amountOption of amount" [value]="amountOption.id">{{ amountOption.name }} ${{ amountOption.amount }}</option>
              </select>
            </div>
            <div class="mb-3" >
              <table class="table" *ngIf="amounts.length > 0">
                <thead>
                  <tr>
                    <th scope="col">Cuota</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Quitar</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let amount of amounts">
                    <tr *ngIf="amount.id !== 0">
                        <td>{{amount.name}}</td>
                        <td>${{amount.amount}}</td>
                        <td><button (click)="deleteAmount(amount.id)" class="btn btn-danger">X</button></td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <hr>
            <h4>Direcciones</h4>
            <div *ngFor="let address of addresses">
              <h6>Dirección {{address.id}}:</h6>
              <div class="row">
                  <div class="col-md-12">
                      <div class="mb-2" [ngClass]="{ 'has-error': direction }">
                          <label for="address{{address.id}}" class="form-label">Calle:</label>
                          <input type="text" (input)="addAddress()" formControlName="streetName{{ address.id }}" class="form-control" id="address{{address.id}}" placeholder="Ingrese la dirección del cliente" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="mb-3" [ngClass]="{ 'has-error': direction }">
                          <label for="otherAddress{{address.id}}" class="form-label">Poligono N°:</label>
                          <input type="text" (input)="addAddress()" formControlName="houseNumber{{ address.id }}" class="form-control" id="otherAddress{{address.id}}" placeholder="Ingrese el poligono" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="mb-3" [ngClass]="{ 'has-error': direction }">
                          <label for="otherAddress2{{address.id}}" class="form-label">Casa N°:</label>
                          <input type="text" (input)="addAddress()" class="form-control" formControlName="polygonNumber{{ address.id }}" id="otherAddress2{{address.id}}" placeholder="Ingrese la casa de residencia" required>
                      </div>
                  </div>
              </div>
          </div>

            <div class="text-center">
              <button (click)="sendRequest($event)" type="submit" class="btn btn-primary px-4">Crear Cliente</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
