<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Cambiar Contraseña</h2>
      <form [formGroup]="form" (ngSubmit)="sendRequest($event)">
        <div class="mb-3">
          <label for="password" class="form-label">Nueva Contraseña</label>
          <div class="input-group">
            <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="password" class="form-control" id="password" placeholder="Ingrese su nueva contraseña" required>
            <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
              <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
            </button>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="sendRequest($event)">Guardar nueva contraseña</button>
      </form>
    </div>
  </div>
</div>
